<div ng-include src="'header.ejs'"></div>

<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px">
                </div>
            </div>

            <div class="panel-body">

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form" name="userForm" novalidate
                      ng-submit="userRegister(userForm.$valid)">

                    <p style="margin-bottom: 25px;">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="reg-username" type="text" class="form-control" name="username" required
                               ng-model="register.username"
                               placeholder="name">
                    </div>
                    <span style="color:red" ng-show="userForm.username.$dirty && userForm.username.$invalid">
                        <span ng-show="userForm.username.$error.required">Username is required.</span>
                    </span>
                    </p>
                    <p style="margin-bottom: 25px;">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="reg-email" type="email" class="form-control" name="email" value=""
                               placeholder="email" ng-model="register.email" required
                               ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
                    </div>
                    <span style="color:red" ng-show="userForm.email.$dirty && userForm.email.$invalid">
                        <span ng-show="userForm.email.$error.required">Email is required.</span>
                        <span ng-show="userForm.email.$error.email">Invalid email address.</span>
                    </span>
                    </p>
                    <p style="margin-bottom: 25px;">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="reg-password" type="password" class="form-control" name="password"
                               placeholder="password" ng-model="register.password" required
                               ng-minlength="5" ng-maxlength="50">
                    </div>
                    <span style="color:red" ng-show="userForm.password.$dirty && userForm.password.$invalid">
                        <span ng-show="userForm.password.$error.required">password is required.</span>
                        <span ng-show="userForm.password.$error.minlength">Password is too short.</span>
                        <span ng-show="userForm.password.$error.maxlength">Password is too long.</span>
                    </span>
                    </p>


                    <div style="margin-top:30px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls" align="center">
                            <input style="padding:10px 30px 10px 30px;" class="btn btn-success" type="submit"
                                   ng-disabled="userForm.username.$pristine && userForm.username.$invalid ||
                                   userForm.email.$dirty && userForm.email.$invalid ||
                                   userForm.password.$dirty && userForm.password.$invalid ">

                            <input style="padding:10px 30px 10px 30px;" class="btn btn-success" type="reset">
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
