body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.search{
  margin-bottom: 18px;
  /*margin-top: -10px;*/
}
.next{
  font-size:7vh;cursor: pointer; padding-right: 0;
}
.previous{
  font-size:7vh;cursor: pointer; padding-left: 0;
}
.margin-top-0{
  margin-top: 0;
}